:root{
    --AzulCieloHero: #3475ca;
    --AzulOscuro: #162c3b;
    --VerdeOscuro: #12222d;
    --AzulClaro: #3f8ffc;
    --transparante: #ffffffc4;
    --azulBarra: #2a5d9f;
    --hoverMenu: orangered;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

/* Globales */
.heading {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 1000;
}
header.sticky {
    padding: 5px 100px;
    /* background: #fff; */
    background: var(--VerdeOscuro);
}
header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s;
}
header ul {
    position: relative;
    display: flex;
    padding-right: 25px;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.5s;
}
header ul li a:hover{
    color: var(--hoverMenu);
}
/* header .toggleMenu {
    position: relative;
    width: 36px;
    height: 28px;
    background: url(img/toggle.png);
    background-size: cover;
    cursor: pointer;
} */
header.sticky .logo,
header.sticky ul li a {
    /* color: var(--AzulCieloHero); */
    color: #fff;
}
header.sticky ul li a:hover{
    color: var(--transparante);
}

 /* Banner o Hero */

.banner {
    position: relative; 
    width: 100%;
    height: 100vh;
    background:var(--AzulCieloHero);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: #111;
    padding: 100px;
}
/* .banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
} */
.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #00f, #f00);
    mix-blend-mode: overlay;
}
.banner .content {
    position: relative;
    max-width: 750px;
    /* display: flex;
    align-content: flex-start; */
    color: #fff;
}
.banner .content h2 {
    font-size: 6em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.banner .content h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase
}
.banner .content p {
    position: relative;
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px 0;
    max-width: 700px;
    text-transform: uppercase;
}
.banner .content a {
    display: inline-block;
    font-size: 1.1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    letter-spacing: 2px;
}

header.sticky .banner {
    margin-top: 50px;
}

/* Section Sobre Nosotros */
.about {
    position: relative;
    width: 100%;
    display: flex;
    /* background: var(--AzulOscuro); */
    background: #fff;
    height: 100vh;
}
.about .contentBx {
    /* background: var(--AzulOscuro); */
    background: #fff;
    padding: 100px;
    width: 50%;
}
.about .heading {
    color: #111;
}
.about .text {
    color: #111;
}
.about .imgBx {
    /* background: url(../design-scroll/img/window.jpg); */
    width: 50%;
    background-size: cover;
    background-position: center;
} 

/* Section Servicios */
.services {
    background: rgb(240, 240, 240);
    padding: 20px 0 0 0;
}
.services .heading {
    color: #111;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}
.container {
    display: flex;
    height: 550px;
}
.col {
    height: 100%;
    color: #fff;
    /* padding: 25px; */
    flex: 1;
    position: relative;
    transition: 0.6s;
}
/* .col:nth-child(1){
    background: #283491;
}
.col:nth-child(2){
    background: #f18684;
}
.col:nth-child(3){
    background: #6ee2f1;
}
.col:nth-child(4){
    background: #f18684;
} */
.col h3 {
    text-align: center;
    font-weight: 600;
    z-index: 1000;
    position: absolute;
    top: 0;
    padding: 10px;
}
.caption {
    max-width: 280px;
    font-size: 0.8em;
    margin: 28px 0;
    display: none;
    position: absolute;
    top: 0;
    padding: 10px;
}
.caption button {
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    font-size: 0.9em;
}
.col img {
    width: 100%;
    height: 100%;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    object-fit: cover;
    filter: grayscale(180%);
    transition: 0.5s;
}
/* .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #00f, #f00);
    mix-blend-mode: overlay;
    z-index: 1;
} */
.col:hover {
    flex-grow: 3;
}
.col:hover .caption {
    display: block;
}
.col:hover h3 {
    text-align: left;
}
.col:hover img {
    filter: none;
}
/* .services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
}
.services .container .serviceBx {
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.services .container .serviceBx img {
    max-width: 100px;
}
.services .container .serviceBx h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
} */

/* Tecnologia */
.technology {
    background: var(--AzulClaro);
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technology .contentBx {
    max-width: 800px;
}
.technology .imgBx {
    max-width: 250px;
}
.technology .imgBx img {
    max-width: 100%;
}

/* Clientes */
.client {
    background: var(--AzulOscuro);
    padding: 100px; 
    text-align: center;
}
.client .imgBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40´x;
}
.client .imgBx img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}
.client .imgBx img:hover {
    opacity: 1;
}

/* Testimoniales */
.testimonials {
    position: relative;
    padding: 100px;
    background: var(--VerdeOscuro);
    text-align: center;
}
.testimonials .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.testimonials .container .contentBx {
    background: #fff;
    padding: 60px 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.testimonials .container .contentBx p {
    font-style: italic;
}
.testimonials .container .contentBx h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: var(--AzulClaro);
} 

/* Contactanos */
.contact {
    padding: 100px;
    background: var(--AzulOscuro);
    text-align: center;
}
.imgBx2 {
    background: url(img/bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.redBg {
    background: url(img/red.jpg) !important;
    background-size: cover;
    background-position: center;
}
.form .inputBx {
    margin-bottom: 40px;
}
.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder {
    color: #fff;
}
.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    min-height: 150px;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder {
    color: #fff;
}
.form .inputBx input[type="submit"] {
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400px;
}

/* Footer */
.footer {
    background: var(--AzulOscuro);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li {
    list-style: none;
}
.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.footer ul li a img {
    filter: invert(1);
    max-width: 20px;
}

/* Responsive */
@media (max-width: 991px) {
    header, .banner {
        padding: 50px;
    }
    /* .banner .content h2 {
        font-size: 36px;
    } */
    /* .banner .content p {
        font-size: 16px;
    } */
    .about {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .services {
        padding: 50px;
    }
    .services .container {
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx {
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .technology {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }
    .technology .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }
    .client {
        padding: 50px;
    }
    .client .imgBx {
        justify-content: center;
    }
    .testimonials {
        padding: 50px;
    }
    .testimonials .contentBx {
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }
    .testimonials .contentBx:last-child {
        margin-bottom: 0px;
    }
    .contact {
        padding: 50px;
    }
    .footer {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul {
        margin-bottom: 20px;
    }
}

@media (max-width: 660px) {
    .banner .content h2 {
        font-size: 3em;
    }
    .banner .content h3 {
        font-size: 2em;
    }
    .banner .content p {
        font-size: 16px;
    }
    header {
        padding: 40px;
    }
    header.sticky {
        padding: 20px 50px;
    }
    header ul {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }
    header ul.active {
        visibility: visible;
        opacity: 1;
    }
    header ul li a,
    header.sticky ul li a {
        color: #111;
        font-size: 2em;
        font-weight: 600;
        margin-left: 0;
        margin: 10px 0;
    }
    /* header.sticky ul li a {
        color: var(--AzulCieloHero);
    } */
    header ul li a:hover,
    header.sticky ul li a:hover {
        color: var(--hoverMenu);
    }
    header .toggleMenu {
        position: relative;
        width: 30px;
        height: 22px;
        background: url(../gym/img/menu.png);
        background-position: center;
        background-size: 28px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 2;
    }
    /* header.sticky .toggleMenu {
        filter: invert(1);
    } */
    header .toggleMenu.active {
        background: url(../gym/img/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        filter: invert(1);
    }
}   